@model LoginVM
<form method="post" asp-action="Login">
    <div class="form-container">
        <h1>Login</h1>
        <input type="text" placeholder="NIK or Email" id="insert1" asp-for="NikOrEmail">
        <span class="popup-validation-error" asp-validation-for="NikOrEmail"></span>
        <input type="password" placeholder="Password..." id="insert2" asp-for="Password">
        <span class="popup-validation-error" asp-validation-for="Password"></span>
        <select asp-for="Role">
            <option value="Penilai">Penilai</option>
            <option value="Karyawan">Karyawan</option>
        </select>
        <button type="submit" id="submit" class="button-25">Sign In</button>
        <span class="field-validation-error">@ViewBag.Message</span>
    </div>
</form>

<a asp-action="Register" asp-controller="Guest">Register As Guest</a>

@* <script src="~/JS/golang.js"></script> *@